@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  color: #d3d3d3;
  font-family: Arial, sans-serif;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Link Styles */
a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Custom Color */
@layer utilities {
  .bg-readable-color {
    background-color: #faf5e4;
  }
  .bg_header_color{
    background-color: #2c786c;
  }
}